@import "./variables";

.flex-child{
    margin: 2rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.Pic2{
    height: 50rem;
    width: auto;
    border: darkgrey;
}

.group{
    flex-direction: column-reverse;
    justify-content: center;
    display: flex;
    width: 50%;
}

#text{
    margin: 10rem;
    font-size: 3rem;
    color: goldenrod;
}

#text-2{
    color: #292424;
}