@import "./variables";
@import "./section";

.flex-parent{    
    flex-direction: row-reverse;
    justify-content: center;
    display: flex;
    background-color: white;
    border: 1rem solid darkgrey;
    font-size: 3rem;
    height: 50rem;
}

.flex-parent-2{
    flex-direction: row;
    display: flex;
    justify-content: center;
    width: 100%;
    border: 1rem solid darkgrey;
}

.Pic{
    height: 50rem;
    width: auto;
    border: 2rem, solid color(light-primary);
}

.font{
    font-family: 'Lilita One', cursive;
    font-size: 5rem;
    margin-left: 10rem;
    padding: 2rem;
    color: whitesmoke;
}

.pineapples{
    font-size: 25rem;
    margin: 5rem;
}
/*
#Ann{
    height: rem;
    width: auto;
}\
*/