@import "./variables";
@import "./section";

.flex-parent{    
    flex-direction: row-reverse;
    justify-content: center;
    display: flex;
    border: 1rem, solid color(primary);
    font-size: 3rem;
}

.flex-parent-2{
    flex-direction: row;
    display: flex;
    justify-content: flex-end;
}

.Pic{
    height: 25rem;
    width: auto;
    border: 1rem, solid color(light-primary);
}

/*
#Ann{
    height: rem;
    width: auto;
}\
*/