.flex-parent{    
    flex-direction: row-reverse;
    justify-content: space-evenly;
    display: flex;
    border: 3rem;
}

.pic{
    height: 15rem;
    width: auto;
}

#Ann{
    height: rem;
    width: auto;
}