
.row-1{
    justify-content: center;
    display: flex;
    height: 80%;
    width: auto;
}

.row-2{
    display: flex;
    justify-content: space-evenly;
    font-size: 3rem;
    width: 100%;
    height: auto;

}