@import "./variables";
@import "./section";
@import "./parent";
@import "./child";


html{
    font-size: 100%;
    text-transform: uppercase;
    padding: 0rem;
    margin: 3rem auto;
}
body{
    background-image: color(crimson)
}
/*
.flex-parent-1{    
    flex-direction: column-reverse;
    justify-content: space-evenly;
    display: flex;
}
.flex-child{
    margin: 25rem;

}
$color:(
    primary:#f06292
    light-primary:#ff94c2
    dark-primary:#ba2d65
);
@function color($colors-name){
    @return map-get($colors, $colors-name);
}
$padding: 1.5rem;

*/